/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/*-----------------------------------*\
 * #CUSTOMEs PROPERTY
\*-----------------------------------*/
:root {

    /**
    * color
    */
    --blue: #2fc1ff;
    --light-blue: #f4fcff;
    --white: #fff;
    --orange: #ff8700;
    --light-orange: #fffcf3;
    --gray: #5c5e5c;

    /**
    * Typography
    */

    --ff-quicksand: 'Quicksand', sans-serif;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;


    /**
    * Transition
    */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);


    /**
    * spacing
    */

    --section-padding: 50px;
}




/*-----------------------------------*\
 * #RESET CSS
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

a,
img,
span,
table,
button,
ion-icon {
    display: block;
}

input,
button {
    font: inherit;
    background: none;
    border: none;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

html {
    font-family: var(--ff-quicksand);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    font-size: 1.6rem;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 90%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 75%);
}

section {
    margin-top: var(--section-padding);
}

/*-----------------------------------*\
 *             HEADER
\*-----------------------------------*/


.header {
    position: fixed;
    background-color: var(--white);
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 9px 17px -3px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 0.5rem;
}

.navbar {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
    z-index: 3;
}

.navbar.active {
    left: 0;
    visibility: visible;
    transition: 0.5s var(--cubic-in);
}

.navbar-list {
    padding-inline: 2rem;
}

.navbar-item {
    padding-block: 1.5rem;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    font-weight: 600;
    transition: var(--transition-1);
}

.navbar-item:hover {
    background-color: rgba(73, 69, 69, 0.1);
}

.overlay {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.118);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.cart-name {
    display: none;
}



/* Cart list */
/*-------------------------*/

.cart {
    position: relative;
}

.product-quantity {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--orange);
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: var(--white);
    font-weight: var(--fw-700);
}

.cart-list {
    position: absolute;
    background-color: var(--white);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
    z-index: 3;
}

.cart-list.active {
    right: 0;
    visibility: visible;
    transition: 0.5s var(--cubic-in);
}

.cart-list::-webkit-scrollbar {
    width: 0.5rem;
}

.cart-close ion-icon {
    margin-left: auto;
    margin-right: 0.3rem;
    margin-top: 0.5rem;
}

.cart-title {
    padding-block: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--fw-600);
    max-width: max-content;
    margin-inline: auto;
    border-bottom: 2px solid var(--gray);
}

.cart-item {
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    border-bottom: 1px solid rgba(29, 170, 231, 0.1);
    background-color: rgba(147, 203, 225, 0.067);
}

.cart-img img {
    width: 6rem;
    border-radius: 1rem;
}

.cart-name {
    font-size: 1.3rem;
    font-weight: var(--fw-600);
}

.memory {
    margin-top: 0.3rem;
}

.memory,
.date {
    font-size: 1.3rem;
}


.cart-action ion-icon {
    margin-left: auto;
    font-size: 2rem;
    color: var(--orange);
}

.quantity {
    text-align: right;
    font-size: 1.5rem;
    color: var(--gray);
    margin-bottom: 1rem;
}

.price {
    font-size: 1.4rem;
    font-weight: var(--fw-600);
    text-align: center;
    white-space: nowrap;
}

/*-------------------------*/

/* Cart total */
/* -------------------- */
.cart-total {
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
}

.total-title {
    display: flex;
    justify-content: space-between;
}

.total-price {
    font-size: 1.6rem;
    font-weight: var(--fw-600);
    color: var(--blue);
}

.detail-btn {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    margin-inline: auto;
    padding: 0.8rem;
    width: 100%;
    border-radius: 2rem;
    border: 1px solid var(--blue);
    color: var(--blue);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    font-size: 1.5rem;
    transition: var(--transition-1);
}

.detail-btn:hover {
    background-color: var(--blue);
    color: var(--white);
}

.pay-btn {
    background-color: var(--blue);
    margin-inline: auto;
    padding: 0.8rem;
    width: 100%;
    border-radius: 2rem;
    border: 1px solid var(--blue);
    color: var(--white);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    font-size: 1.5rem;
    transition: var(--transition-1);
}

.pay-btn:hover {
    background-color: rgba(20, 148, 217, 0.759);
}

/* ------------------- */

/* logo , menu */
.logo img {
    width: 8rem;
}

.menu-open,
.menu-close,
.cart-close,
.cart ion-icon {
    font-size: 2.5rem;
    color: var(--gray);
    transition: var(--transition-1);
}

.menu-open:hover,
.menu-close:hover,
.cart-close:hover,
.cart ion-icon:hover {
    color: #000;
}

.menu-close ion-icon {
    margin-left: auto;
    margin-right: 0.3rem;
    margin-top: 0.5rem;
}



/*-----------------------------------*\
 *             SLIDER
\*-----------------------------------*/
.slider {
    width: 100%;
}

.slider-list {
    display: flex;
}

.slider-item {
    position: relative;
}

.slider-item img {
    width: 100%;
}

.slick-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    display: flex !important;
    justify-content: center;
    gap: 0.5rem;
}

.slick-dots button {
    font-size: 0;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0.5;
    transition: var(--transition-1);
}

.slick-active button {
    opacity: 1;
    width: 1.5rem;
    border-radius: 1rem;
}


/* Slider bottom */
.slider-bottom {
    background: rgb(47, 193, 255);
    background: linear-gradient(90deg, rgba(47, 193, 255, 1) 0%, rgba(63, 146, 234, 1) 100%);
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-inline: 1.5rem;
    padding-block: 3rem;
}

.slider-title {
    display: none;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
    color: var(--white);
    font-weight: var(--fw-700);
}

.search-box {
    position: relative;
    max-width: 40rem;
    margin: auto;
    background-color: var(--white);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
    padding-inline: 0.3rem;
    padding-block: 0.3rem;
    border-radius: 3rem;
    border: 2px solid rgb(24, 128, 208);
}

.input-left,
.input-right {
    border-radius: 3rem;
    transition: var(--transition-1);
    margin: auto;
}

.input-left input,
.input-right input {
    border-radius: 3rem;
    padding-block: 1.1rem;
    padding-inline: 2rem;
    border-radius: 3rem;
    font-size: 1.4rem;
}

.input-left input:focus,
.input-right input:focus {
    outline: none;
}

.input-left:hover,
.input-right:hover {
    background-color: var(--blue);
}

.search-line {
    color: var(--blue);
    font-weight: var(--fw-600);
}

.search-btn {
    border: 1px solid var(--blue);
    padding: 0.8rem;
    border-radius: 50%;
    margin-right: 0.3rem;
    margin-left: auto;
    color: var(--blue);
    transition: var(--transition-1);
}

.search-btn ion-icon {
    --ionicon-stroke-width: 5rem;
}

.search-btn:hover {
    background-color: var(--blue);
    color: var(--white);
}

.slider-bottom-text {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: var(--fw-600);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.slider-bottom-text a {
    color: #000;
    text-decoration: underline;
    font-weight: var(--fw-700);
}

/* search detail left*/

.search-detail-left {
    display: none;
    position: absolute;
    top: 5.5rem;
    border-radius: 1.5rem;
    padding: 1.2rem;
    background-color: var(--white);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
    z-index: 3;
}


.search-detail-title {
    font-weight: var(--fw-700);
    font-size: 1.3rem;
}

.country-title {
    font-size: 1.3rem;
    font-weight: var(--fw-600);
    margin-block: 1rem;
    color: var(--gray);
}

.detail-item,
.day-item {
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.country {
    font-size: 1.4rem;
}


/* search detail right */
.search-detail-right {
    display: none;
    position: absolute;
    top: 5.5rem;
    right: 25%;
    border-radius: 1.5rem;
    padding: 1.5rem;
    background-color: var(--white);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
    z-index: 3;
}




.overlay-input {
    position: fixed;
    inset: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}

.overlay-input.active {
    opacity: 1;
    pointer-events: all;
}


/*-----------------------------------*\
 * # NATIONAL FLAG
\*-----------------------------------*/

.south-asia-item img,
.asia-item img,
.europe-item img,
.other-item img {
    width: 3rem;
}

.south-asia-title,
.asia-title,
.europe-title,
.other-title {
    font-size: 1.4rem;
    color: var(--gray);
    margin-bottom: 2rem;
}

.south-asia-item,
.asia-item,
.europe-item,
.other-item {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: var(--transition-1);
}

.south-asia-item:hover,
.asia-item:hover,
.europe-item:hover,
.other-item:hover {
    background-color: var(--light-blue);
}


/* ---------------- */
.national-flag {
    margin-top: 3rem;
}

.national-flag .container {
    padding-inline: 1.3rem;
}

.national-flag-title {
    font-size: 2.3rem;
}

.national-flag-box {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
}

.national-flag-name {
    font-size: 1.4rem;
}



/*-----------------------------------*\
 * # ADVERTISE  
\*-----------------------------------*/

.gif-item img {
    width: 20rem;
    margin: auto;
}

.advertise-content {
    margin-top: 2rem;
    background-color: var(--light-blue);
    padding-inline: 2rem;
    padding-block: 2.5rem;
}

.advertise-gif .slick-dots {
    bottom: 0.3rem;
    right: 50%;
}

.advertise-content-title {
    color: var(--blue);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.advertise-content-subtitle {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.advertise-content-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.advertise-content-item {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 2rem;
}

.advertise-content-item.active {
    border: 2px solid var(--blue);
}

.advertise-item-title {
    color: var(--blue);
    font-weight: var(--fw-700);
    margin-bottom: 0.5rem;
}

.advertise-item-subtitle {
    font-size: 1.3rem;
}

.advertise-item-subtitle a {
    display: inline;
    color: var(--blue);
    font-weight: var(--fw-600);
}


/*-----------------------------------*\
 * # FEATURE 
\*-----------------------------------*/

.feature {
    margin-top: 2.2rem;
    background-color: var(--light-orange);
}

.feature .container {
    padding: 2rem;
}

.feature-title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: var(--fw-700);
    margin-bottom: 2rem;
}

.feature-title span {
    display: inline;
    color: var(--blue);
}

.feature-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.feature-item img {
    width: 7rem;
    margin: auto;
    margin-bottom: 1.5rem;
}

.feature-item-title {
    color: var(--orange);
    margin-bottom: 1rem;
}

.feature-item-subtitle {
    font-size: 1.4rem;
}



/*-----------------------------------*\
 * # STATISTIC 
\*-----------------------------------*/

.statistic .container {
    padding: 2rem;
}

.statistic-title {
    text-align: center;
}

.statistic-title span {
    display: inline;
    color: var(--blue);
}

.statistic-list {
    text-align: center;
    margin-top: 2rem;
    background-color: #dfe2ea;
    padding-block: 1rem;
    border-radius: 1rem;
}


.statistic-item:nth-child(1) {
    padding-block: 3rem;
    border-radius: 1rem;
    height: 24rem;
    margin-left: 4rem;
    background-color: var(--white);
}

.statistic-item h3 {
    font-size: 2.3rem;
    margin-bottom: 0.8rem;
    margin-top: 3rem;
    text-align: center;
}

.statistic-rate {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.statistic-item img {
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
}

.review-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.review-paragraph span {
    font-size: 1.2rem;
}

.trustpilot {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.trustpilot ion-icon {
    color: green;
}

.trustpilot span {
    font-weight: var(--fw-700);
}

/* ----------------------- */

.statistic-item:not(:nth-child(1)) {
    background-color: var(--white);
    padding: 1.5rem;
    text-align: left;
    padding-block: 3rem;
    border-radius: 1rem;
    height: 24rem;
    margin-left: 2rem;
}

.statistic-item-day {
    display: flex;
    align-items: center;
}

.statistic-item-day p {
    font-size: 1.2rem;
    text-wrap: nowrap;
    margin-bottom: 1rem;
}

.statistic-item-day img {
    width: 40%;
    margin-right: 30%;
}

.statistic-item-topsub {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.statistic-item-subtitle {
    font-size: 1.3rem;
    --max-lines: 6;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    margin-bottom: 2rem;
}

.statistic-author {
    border-top: 1px solid gainsboro;
    padding-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: var(--fw-700);
    max-width: max-content;
}


/*-----------------------------------*\
 * # SUPPORT 
\*-----------------------------------*/

.support .container {
    padding: 1rem;
}

.support-title {
    text-align: center;
    margin-bottom: 2rem;
}

.support-title span {
    display: inline;
    color: var(--blue);
}

.support-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.support-item {
    width: 100%;
    height: 7rem;
    padding-block: 1rem;
    border: 2px solid rgba(62, 174, 230, 0.234);
    border-radius: 1rem;
}

.support-item img {
    width: 13rem;
    height: 100%;
    object-fit: cover;
    margin: auto;
}


/*-----------------------------------*\
 * # QUESTION 
\*-----------------------------------*/

.question .container {
    padding-inline: 2rem;
}


.question-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.question-item {
    border-bottom: 2px solid #eee;
    padding-bottom: 1rem;
}

.question-title {
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #eee;
}

.question-item-title {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    cursor: default;
}

question-item-title p {
    font-size: 1.5rem;
}

.question-item-title.active {
    color: var(--blue);
    font-weight: var(--fw-700);
}

.question-item-title ion-icon {
    min-width: 2.5rem;
    transition: var(--transition-2);
}

.question-item-detail {
    max-height: 0;
    margin-top: 1rem;
    padding-inline: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: justify;
    transition: max-height 0.8s var(--cubic-in);
    overflow: hidden;
}

.question-item-detail.active {
    max-height: 100vh;
}




/*-----------------------------------*\
 * # FOOTER
\*-----------------------------------*/

.footer {
    margin-top: 5rem;
    box-shadow: 0px -7px 8px -3px rgba(0, 0, 0, 0.1);
}

.footer .container {
    padding-block: 2rem;
    padding-inline: 1rem;
}

.footer-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.footer-logo {
    margin-bottom: 5rem;
}

.footer-logo img {
    width: 12rem;
}

.footer-item span,
.footer-item a {
    margin-top: 1rem;
    font-size: 1.4rem;
}

.footer-item a {
    color: var(--gray);
    font-weight: var(--fw-600);
    transition: var(--transition-1);
}

.footer-item a:hover {
    color: #000;
}

.certificate {
    margin-top: 2rem;
    width: 15rem;
}

/* ------------------- */

.footer-bottom {
    background-color: var(--blue);
    padding-inline: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    color: var(--white);
}

.footer-left {
    text-align: center;
}

.footer-left p {
    font-size: 1.4rem;
    line-height: 1.5;
}

.footer-right p {
    text-align: center;
    font-size: 1.4rem;
}



/*-----------------------------------*\
 * # MEDIA QUERY
\*-----------------------------------*/

@media(min-width: 512px) {

    /*-----------------------------------*\
     * # HEADER  
    \*-----------------------------------*/
    .header {
        height: 7rem;
    }

    .logo img {
        width: 9rem;
    }

    .cart-close {
        font-size: 3rem;
    }

    .cart-title {
        padding-block: 0.5rem;
        font-size: 1.8rem;
        font-weight: var(--fw-700);
        color: var(--gray);
    }

    .cart-item {
        height: 10rem;
        padding-inline: 2.5rem;
        padding-block: 0.8rem;
        align-items: center;
        gap: 2rem;
    }

    .cart-name {
        font-size: 1.6rem;
        font-weight: var(--fw-700);
    }

    .cart-img img {
        width: 6.5rem;
    }

    .memory,
    .date {
        font-weight: var(--fw-500);
        color: var(--gray);
    }

    .price {
        font-size: 1.6rem;
        font-weight: var(--fw-700);
    }

    .total-price {
        margin-bottom: 1.8rem;
    }

    .total-title h4 {
        font-size: 2rem;
    }

    .total-price {
        font-size: 2rem;
        font-weight: var(--fw-700);
    }

    .detail-btn,
    .pay-btn {
        padding: 1rem;
    }

    /* ------------ */
    .navbar-list {
        padding-inline: 4rem;
    }

    .navbar-link {
        font-size: 1.6rem;
        font-weight: var(--fw-700);
    }


    /*-----------------------------------*\
     * # SLIDER 
    \*-----------------------------------*/
    .slider-title {
        display: block;
    }

    .search-box {
        height: 6rem;
        border-radius: 4rem;
    }

    .input-left,
    .input-right {
        border-radius: 4rem;
    }

    .input-left input,
    .input-right input {
        padding-block: 1.6rem;
    }

    .search-btn {
        padding: 1rem;
        margin-right: 0.8rem;
    }

    .slider-bottom {
        padding-block: 4rem;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }

    .search-detail-left,
    .search-detail-right {
        top: 7rem;
    }


    /*-----------------------------------*\
     * # NATIONAL FLAG 
    \*-----------------------------------*/
    .national-flag-title {
        font-size: 2.8rem;
        font-weight: var(--fw-700);
    }

    .south-asia-title,
    .asia-title,
    .europe-title,
    .other-title {
        font-size: 1.9rem;
    }

    .south-asia-item img,
    .asia-item img,
    .europe-item img,
    .other-item img {
        width: 4rem;
    }

    .national-flag-name {
        font-size: 1.6rem;
        font-weight: var(--fw-500);
        color: var(--gray);
    }

    .south-asia-list,
    .asia-list,
    .europe-list,
    .other-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }



    /*-----------------------------------*\
     * # ADVERTISE  
    \*-----------------------------------*/

    .gif-item img {
        width: 28rem;
    }

    .advertise-content-title {
        font-size: 2.4rem;
    }

    .advertise-content-subtitle {
        font-size: 1.5rem;
        font-weight: var(--fw-500);
    }

    .advertise-content-list {
        gap: 2rem;
    }


    .advertise-content-item {
        padding-block: 2.5rem;
        padding-inline: 2rem;
        border-radius: 3rem;
    }

    .advertise-item-title {
        font-size: 1.9rem;
    }

    .advertise-item-subtitle {
        font-size: 1.6rem;
        font-weight: var(--fw-500);
    }


    /*-----------------------------------*\
     * # FEATURE 
    \*-----------------------------------*/
    .feature-title {
        font-size: 2rem;
    }

    .feature-item img {
        width: 10rem;
    }

    .feature-item-title {
        font-size: 2rem;
    }

    .feature-item-subtitle {
        font-size: 1.5rem;
        font-weight: var(--fw-500);
    }


    /*-----------------------------------*\
     * # STATISTIC 
    \*-----------------------------------*/

    .statistic-title {
        font-size: 2.3rem;
    }


    .statistic-item-topsub {
        font-size: 1.8rem;
    }

    .statistic-item-subtitle {
        font-size: 1.5rem;
        font-weight: var(--fw-500);
    }

    .statistic-author {
        font-size: 1.5rem;
    }

    .statistic-item-day p {
        font-size: 1.4rem;
        font-weight: var(--fw-500);
    }

    /*-----------------------------------*\
     * # SUPPORT 
    \*-----------------------------------*/

    .support-title {
        font-size: 2rem;
    }

    .support-item {
        height: 8rem;
    }

    .support-item img {
        width: 15rem;
    }


    /*-----------------------------------*\
     * # QUESTION 
    \*-----------------------------------*/

    .question-title {
        font-size: 2.4rem;
    }

    .question-item-title {
        font-size: 1.7rem;
        font-weight: var(--fw-500);
    }

    .question-item-detail {
        padding-inline: 3.5rem;
        font-size: 1.6rem;
        font-weight: var(--fw-500);
        line-height: 1.9;
    }


    /*-----------------------------------*\
     * # FOOTER 
    \*-----------------------------------*/

    .footer-logo img {
        width: 15rem;
    }

    .footer-item span,
    .footer-item a {
        margin-top: 1.5rem;
        font-size: 1.6rem;
        font-weight: var(--fw-500);
    }

    .certificate {
        width: 20rem;
    }

    .footer-left p {
        font-size: 1.6rem;
        font-weight: var(--fw-500);
        line-height: 1.6;
    }

    .footer-right p {
        font-size: 1.6rem;
        font-weight: var(--fw-500);
    }

}


@media(min-width: 600px) {

    /* SLIDER */
    .slider-bottom-text {
        font-size: 1.5rem;
    }


    /*-----------------------------------*\
     * # NATIONAL FLAG
    \*-----------------------------------*/
    .national-flag-box {
        grid-template-columns: repeat(4, 1fr);
    }


    /*-----------------------------------*\
     * # ADVERTISE 
    \*-----------------------------------*/
    .advertise .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .advertise-content {
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }

    .advertise-gif {
        width: 50%;
    }

    .gif-item img {
        width: 25rem;
    }

    /*-----------------------------------*\
     * # FEATURE 
    \*-----------------------------------*/

    .feature-title {
        font-size: 2.5rem;
    }

    .feature-list {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .feature-item {
        height: 100%;
    }

    .feature-item img {
        min-width: 30%;
    }


    /*-----------------------------------*\
     * # SUPPORT 
    \*-----------------------------------*/
    .support-title {
        font-size: 2.5rem;
    }

    .support-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }


    /*-----------------------------------*\
     * # QUESTION 
    \*-----------------------------------*/
    .question-title {
        font-size: 3rem;
    }


    /*-----------------------------------*\
     * # FOOTER 
    \*-----------------------------------*/

    .footer-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .certificate {
        width: 14rem;
    }
}

@media(min-width: 850px) {

    /*-----------------------------------*\
     * # NAVBAR
    \*-----------------------------------*/
    .menu-open,
    .menu-close,
    .cart-close,
    .navbar,
    .overlay,
    .cart-title {
        display: none;
    }

    .navbar,
    .navbar-list,
    .cart-list {
        all: unset;
    }

    .navbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        height: 100%;
    }

    .navbar-list {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-right: 1.5rem;
    }

    .navbar-item {
        padding-bottom: 1rem;
    }

    .navbar-item:hover,
    .navbar-add:hover {
        background-color: transparent;
        border-bottom: 4px solid var(--blue);
    }

    .navbar-item:hover>.navbar-link {
        color: var(--blue);
    }


    .navbar-link {
        color: #000;
    }

    /* -------------------- */
    /* cart */
    .product-quantity {
        top: 0.1rem;
    }

    .cart-name {
        display: block;
        cursor: default;
        font-weight: var(--fw-700);
    }

    .cart {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.6rem;
        transition: var(--transition-1);
        padding-block: 0.5rem;
    }

    .cart:hover {
        border-bottom: 4px solid var(--blue);
    }

    .cart:hover .cart-name,
    .cart:hover ion-icon {
        color: var(--blue);
    }


    .cart ion-icon {
        font-size: 2.5rem;
        margin-top: 0.3rem;
    }

    .cart-list {
        position: absolute;
        top: 8rem;
        right: 0;
        width: 40rem;
        padding: 2rem;
        background-color: var(--white);
        border-radius: 2rem;
        transition: var(--transition-1);
        box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .cart-list::after {
        content: "";
        position: absolute;
        top: -3.5rem;
        left: 0;
        background-color: transparent;
        width: 100%;
        height: 3.5rem;
    }

    .cart-parent:is(:hover, :focus) .cart-list {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }

    .cart-parent {
        position: relative;
    }


    /*-----------------------------------*\
     * # SLIDER
    \*-----------------------------------*/
    .search-box {
        height: 8rem;
        max-width: 55rem;
    }

    .input-left input,
    .input-right input {
        font-size: 1.6rem;
        font-weight: var(--fw-600);
    }

    .search-detail-left,
    .search-detail-right {
        top: 9rem;
        padding: 3rem;
    }

    .search-detail-left {
        left: 1rem;
    }

    .search-detail-title {
        font-size: 1.5rem;
    }

    .country-title {
        font-size: 1.5rem;
    }

    .detail-item ion-icon {
        font-size: 2rem;
    }

    .country {
        font-size: 1.5rem;
        font-weight: var(--fw-500);
    }

    .day {
        font-size: 1.6rem;
        font-weight: var(--fw-500);
    }

}


@media(min-width: 1250px) {
    .section {
        padding-inline: 13rem;
    }

    /*-----------------------------------*\
     * # HEADER
    \*-----------------------------------*/

    .header {
        padding-inline: 13rem;
    }

    .navbar-list {
        margin-right: 2rem;
    }

    .cart-list {
        top: 7rem;
        right: -0.6rem;
        width: 45rem;
    }

    .cart-list::after {

        top: -2.2rem;
        height: 2.5rem;
    }



    /*-----------------------------------*\
     * # ADVERTISE
    \*-----------------------------------*/

    .advertise-content {
        padding: 10rem;
    }

    .advertise-content-title {
        font-size: 3rem;
    }

    .advertise-content-subtitle {
        font-size: 1.6rem;
    }

    /*-----------------------------------*\
     * # FEATURE
    \*-----------------------------------*/
    .feature {
        margin-top: 10rem;
    }

    .feature .container {
        padding-block: 10rem;
    }

    .feature-item {
        border: 1px solid transparent;
    }

    .feature-item-title {
        font-size: 2.5rem;
    }

    .feature-item-subtitle {
        font-size: 1.6rem;
    }


    /*-----------------------------------*\
     * # FEATURE
    \*-----------------------------------*/
    .statistic {
        margin-top: 10rem;
    }

    .statistic-title {
        font-size: 3rem;
        margin-bottom: 5rem;
    }


    .statistic-item-day img {
        width: 10rem;
        margin-right: 18rem;
    }

    .statistic-item-subtitle {
        --max-lines: 4;
    }

    /*-----------------------------------*\
     * # SUPPORT
    \*-----------------------------------*/
    .support {
        margin-top: 10rem;
    }

    .support-title {
        font-size: 2.5rem;
    }


    /*-----------------------------------*\
     * # QUESTION
    \*-----------------------------------*/
    .question {
        margin-top: 10rem;
    }


    /*-----------------------------------*\
     * # FOOTER
    \*-----------------------------------*/
    .footer .container {
        padding-inline: 13rem;
        padding-block: 5rem;
    }


    .footer-logo img {
        width: 18rem;
    }

    .footer-list {
        grid-template-columns: 1.7fr 1.5fr 1fr;
    }

    .footer-item span,
    .footer-item a {
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    .policy-title,
    .about-me {
        font-size: 2rem;
    }

    .certificate {
        width: 20rem;
    }

    .footer-bottom {
        padding-inline: 13rem;
        grid-template-columns: 1fr 1fr;
    }

    .footer-left {
        text-align: left;
    }

    .footer-right p {
        text-align: right;
    }

}